*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#f1f2f4;
}
.container{
    background-color: #ffffff;
    width:420px;
    margin:60px 0 0 650px;
    padding: 28px 0 20px 19px;
    border-radius: 5px;   
}

 .line{
    width: 380px;
    border-top: 1px solid #f1f2f4;
    margin: 11px 20px 0 0;  
}
 
 .subscribeInfo{
    width: 382px;
    border-radius: 5px;
    margin-top: 16px;
    padding: 20px;
    background-color: #029df7;
    color:white;
 }
 form{
    margin-top: 20px;
 }
 .labelEmail::after { 
    content: '*'; 
    color: red; 
  } 
  input{
    width: 382px;
    padding: 8px;
    border-radius: 7px;
    background-color: #f1f2f4;
    border: none;
    margin-top: 7px;
    margin-bottom: 28px;
  }
#reason{
    padding: 0px 0 20px 12px;
    height: 55px;
}
#unsubscribe{
    background-color: #f1f2f4;
    color: gray;
    border-radius: 5px;
    border: none;
    width: 110px;
    height: 29px;
}
.unsubscribe{
    text-align: right;
    margin-top: 26px;
    margin-right: 20px;
}
 